<nav class="navbar navbar-expand-lg bg-body-tertiary">
    <div class="container-fluid bg-warning">
        <a class="navbar-brand bg-dark text-white" href="#">Carcenter Arnaldo</a>
        <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNavAltMarkup" aria-controls="navbarNavAltMarkup" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"> </span>
      </button>
        <div class="collapse navbar-collapse" id="navbarNavAltMarkup">
            <div class="navbar-nav bg-dark text-white">
                <a class="nav-link active text-white" aria-current="page" href="#">Home</a>
                <a class="nav-link text-white" href="#">Our Cars</a>
                <a class="nav-link text-white" href="#">Contact Us</a>
                <button class="btn btn-dark text-warning" (click)="addDonation()">Spend some money</button>
                <a class="nav-link text-white" href="#">You donated: {{number}} €</a>

            </div>
        </div>
    </div>
    <ng-template [ngIf]="number >= 200">
        <br>
        <div class="animate__animated animate__bounceInLeft"><i class="bi bi-trophy"></i> Congrats! You are VIP.

        </div>

    </ng-template>
</nav>